/*-------------------------------------
              reset
-------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}body{line-height:1.5}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited ,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

/*-------------------------------------
              fonts
-------------------------------------*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

h1,h2,h3,h4,h5,h6 {font-weight:bold; color:#333;}
h1 { font-size: 34px; line-height:1.3em;}
h2 { font-size: 30px; line-height:1.2em;}
h3 { font-size: 26px; line-height:1.6em;}
h4 { font-size: 22px; line-height:1.25em;}
h5 { font-size: 18px; line-height:1.6em;}
h6 { font-size: 14px; line-height:1.5em;}
p { line-height:160%;}
hr{ border:1px solid #ddd; border-width:0 0 1px 0; height:1px; font-size:0; margin:25px 0; clear:both;}

/*-------------------------------------
              clearfix
-------------------------------------*/
.clear {clear:both;visibility:hidden; display: block;	font-size: 0;line-height: 0;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}

/*-------------------------------------
              typo
-------------------------------------*/
.typo:before, .typo:after{content:"."; display:block; height:0; visibility:hidden;}
.typo:after{clear:both;}
.typo{#zoom:1;}
.typo .typo_text{overflow:hidden;#zoom:1;}
.typo .typo_img{float:left; margin-right:20px;}
.typo .typo_img img{display:block;}
.typo .imgtoright { float:right; margin-left:20px;}

/*-------------------------------------
   Columns
-------------------------------------*/
.column:after {clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0;  min-height: 0; visibility: hidden;*zoom:1;}
.column {width:100%;}
.column .col-2-1,.column .col-3-1,.column .col-4-1,.column .col-4-2,.column .col-5-1,.column .col-3-2,.column .col-4-3,.column .col-5-2,.column .col-5-3,.column .col-5-4{float:left;}

/* default marg-per3 margin right 3% */
.column .col-2-1 {width: 48.5%; margin-right:3%;}
.column .col-3-1 {width: 31.3333%; margin-right:3%;}
.column .col-4-1 {width: 22.75%; margin-right:3%;}
.column .col-5-1 {width: 17.6%; margin-right:3%;}
.column .col-3-2 {width: 65.6666%; margin-right:3%;}
.column .col-4-2 {width: 48.5%; margin-right:3%;}
.column .col-4-3 {width: 74.25%; margin-right:3%;}
.column .col-5-2 {width: 38.2%; margin-right:3%;}
.column .col-5-3 {width: 58.8%; margin-right:3%;}
.column .col-5-4 {width: 79.4%; margin-right:3%;}

/*margin right 0%*/
.marg-per0 > .col-2-1 {width: 50%; margin-right:0;}
.marg-per0 > .col-3-1 {width: 33.3333%; margin-right:0;}
.marg-per0 > .col-4-1 {width: 25%; margin-right:0;}
.marg-per0 > .col-5-1 {width: 20%; margin-right:0;}
.marg-per0 > .col-3-2 {width: 66.6666%; margin-right:0;}
.marg-per0 > .col-4-2 {width: 50%; margin-right:0;}
.marg-per0 > .col-4-3 {width: 75%; margin-right:0;}
.marg-per0 > .col-5-2 {width: 40%; margin-right:0;}
.marg-per0 > .col-5-3 {width: 60%; margin-right:0;}
.marg-per0 > .col-5-4 {width: 80%; margin-right:0;}

/*margin right 2%*/
.marg-per2 > .col-2-1 {width: 49%; margin-right:2%;}
.marg-per2 > .col-3-1 {width: 32%; margin-right:2%;}
.marg-per2 > .col-4-1 {width: 23.5%; margin-right:2%;}
.marg-per2 > .col-5-1 {width: 18.4%; margin-right:2%;}
.marg-per2 > .col-3-2 {width: 66%; margin-right:2%;}
.marg-per2 > .col-4-2 {width: 49%; margin-right:2%;}
.marg-per2 > .col-4-3 {width: 74.5%; margin-right:2%;}
.marg-per2 > .col-5-2 {width: 38.8%; margin-right:2%;}
.marg-per2 > .col-5-3 {width: 59.2%; margin-right:2%;}
.marg-per2 > .col-5-4 {width: 79.6%; margin-right:2%;}

/*margin right 4%*/
.marg-per4 > .col-2-1 {width: 48%; margin-right:4%;}
.marg-per4 > .col-3-1 {width: 30.6667%; margin-right:4%;}
.marg-per4 > .col-4-1 {width: 22%; margin-right:4%;}
.marg-per4 > .col-5-1 {width: 16.8%; margin-right:4%;}
.marg-per4 > .col-3-2 {width: 65.3333%; margin-right:4%;}
.marg-per4 > .col-4-2 {width: 48%; margin-right:4%;}
.marg-per4 > .col-4-3 {width: 74%; margin-right:4%;}
.marg-per4 > .col-5-2 {width: 37.6%; margin-right:4%;}
.marg-per4 > .col-5-3 {width: 58.4%; margin-right:4%;}
.marg-per4 > .col-5-4 {width: 79.2%; margin-right:4%;}

/*margin right 5%*/
.marg-per5 > .col-2-1 {width: 47.5%; margin-right:5%;}
.marg-per5 > .col-3-1 {width: 30%; margin-right:5%;}
.marg-per5 > .col-4-1 {width: 21.25%; margin-right:5%;}
.marg-per5 > .col-5-1 {width: 16%; margin-right:5%;}
.marg-per5 > .col-3-2 {width: 65%; margin-right:5%;}
.marg-per5 > .col-4-2 {width: 47.5%; margin-right:5%;}
.marg-per5 > .col-4-3 {width: 73.75%; margin-right:5%;}
.marg-per5 > .col-5-2 {width: 37%; margin-right:5%;}
.marg-per5 > .col-5-3 {width: 58%; margin-right:5%;}
.marg-per5 > .col-5-4 {width: 79%; margin-right:5%;}

.column .last {margin-right:0; *float:right; *clear:right;}

/*-------------------------------------
              Form
-------------------------------------*/
.qhdform fieldset{ border:none; margin:0; padding:0;}
.qhdform fieldset legend{ margin:0; padding:0;}
.qhdform .formHeader,.qhdform .formSection { padding-bottom:10px; margin-bottom:25px;}
.qhdform .formHeader p,.qhdform .formSection p { color:#666;}

/* clear float for Form */ 
.qhdform .formrow { font-size:12px; line-height:100%;}
.qhdform .formrow:before,.formrow:after{content:"."; display:block; height:0; visibility:hidden;}
.qhdform .formrow:after{clear:both;}
.qhdform .formrow{#zoom:1;}
.qhdform .formrow .controls{overflow:hidden; #zoom:1; _float:left; _clear:right;}

/* ==========默认表单布局========== */
/*表单抬头*/
.qhdform .formrow .label{display:block; float:left; margin:5px 15px 0 0; line-height:16px; width:100px;}
.qhdform .formrow .label em {display:inline-block; float:right; line-height:22px; margin-left:5px;}

/*帮助提示*/
.qhdform .inlineHint { display:inline-block; *display:inline; *zoom:1; vertical-align: middle;}
.qhdform .inlineHint,.qhdform .blockHint { color:#777; line-height:20px;}

/* 默认表单元素宽度 */
.qhdform .textInput,
.qhdform .fileUpload,
.qhdform .selectInput,
.qhdform select,
.qhdform textarea { width:95%;}

/* 预设表单元素宽度 */
.qhdform .small { width:25% !important; }
.qhdform .medium{ width:50% !important; }
.qhdform .auto  { width:auto !important; height:auto !important; overflow:visible; }
.qhdform .textInput,.qhdform .textarea,.qhdform .selectInput,.qhdform .fileUpload {color:#666; margin:0 5px 6px 0;}

/*表单组*/
.qhdform .controls ul { padding:0; margin:0 0 10px; list-style:none;}
.qhdform .controls li { padding:8px 0 0; *padding:5px 0 0; list-style:none;}
.qhdform .controls .inlinelabel li { display:inline-block; *display:inline; *zoom:1; margin-right:15px;}
.qhdform .controls li label .textInput,.qhdform .controls li label .textarea,.qhdform .controls li label .selectInput {display:block; margin-top:8px;}
.qhdform .controls .column li .textInput,.qhdform .controls .column li .textarea,.qhdform .controls .column li .selectInput { width:90%; margin-right:0;}
.qhdform .controls .column { margin-bottom:0;}

/* ========== 无边框/文本居右 表单布局 ========== */
.qhdform .labelRright .label { text-align:right; margin-left:0;}
.qhdform .labelRright .label em { float:none; line-height:normal; margin:0 5px 0 0;}
.qhdform .labelRright .formrow { border:none; padding:5px 0;}

/* ========== 竖排结构 表单布局 ========== */
.qhdform .blockLabels .label{display:block; float:none; position:relative; margin:0 0 5px 0; line-height:18px; width:100%;}
.qhdform .blockLabels .label em {display:inline-block; float:none; line-height:16px; position:absolute; left:-6px; top:2px; margin-left:0;}

/*form skins*/
.qhdform .formrow { padding:15px 10px 10px;/* width:100%;*/ overflow:hidden; border-bottom: 1px solid #EFEFEF;}
.qhdform .formbutton { border-bottom:none;}
.qhdform .textInput,
.qhdform textarea    { padding:5px; line-height:normal; border:solid 1px #ddd; background:#FFF url(../images/input_bg.png) repeat-x top; _background-image:none;}
.qhdform textarea    { height:12em;  line-height:160%;}
.qhdform select      { padding:4px; border: 1px solid #ddd; background: #fff; }
.qhdform .textInput:focus,.qhdform textarea:focus {border-color:#c9c9c9; outline:0;}
.qhdform .textInput,.qhdform textarea  {-webkit-transition: border linear 0.2s; -moz-transition: border linear 0.2s; -ms-transition: border linear 0.2s; -o-transition: border linear 0.2s; transition: border linear 0.2s;}

/*Form Messages  */
.qhdform .formrow.error,
.qhdform .formrow.focused.error{ background: #ffdfdf; border: 1px solid #f3afb5;/* CSS3 */ border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius:px; -o-border-radius:4px; -khtml-border-radius:4px;}

/*labelRright error Messages */
.qhdform .labelRright .formrow.error,
.qhdform .labelRright .formrow.focused.error{ background:none; border:none;}
.qhdform .labelRright .formrow.error input.error,
.qhdform .labelRright .formrow.error select.error,
.qhdform .labelRright .formrow.error textarea.error{ color:#af4c4c; border: 1px solid #F3AFB5;}


/*-------------------------------------
              pagination
-------------------------------------*/
.pagination { margin:30px 0 20px; clear:both; }
.pagination span, .pagination a { display:inline-block; padding:0 8px; height:22px; line-height:22px; margin:0 2px; *zoom:1; }
.pagination-default { text-align:center;  }
.pagination-default span, .pagination-default a.next, .pagination-default a { /*border:1px solid #CCDBE4;*/ color:#666;}
.pagination-default a:hover { background:#049D40; color:#fff; text-decoration:none;}
.pagination-default a:active { color:#808080; border:1px solid #ccc;}
.pagination-default .disabled { color:#ccc; cursor:default;}
.pagination-default .current { font-weight:bold; background:#049D40; color:#fff;}
.pagination-right { text-align:right;}

.loop-page { margin:30px 0 20px; clear:both; }
.loop-page .loop-page-prev { width:48%; display:inline; float:left; margin-bottom:0; }
.loop-page .loop-page-next { width:48%; display:inline; float:right; margin-bottom:0; }
.loop-page span a { display:inline-block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:100%;  color:#555; text-decoration:none; }
.loop-page span a:hover { color:#f30; text-decoration:underline; }

/*-------------------------------------
              List
-------------------------------------*/
ul.noicon {padding:0; margin:0;}
ul.noicon li { line-height:140%; padding:3px 0;}

ul.iconlist li {list-style:none; background-repeat:no-repeat; background-position:0 6px; line-height:140%; padding:4px 0 4px 25px; _height:100%;}
ul.list-mail li , ul li.list-mail {background-image: url(../images/icon/iconlist-mail.png);}
ul.list-map li , ul li.list-map {background-image: url(../images/icon/iconlist-map.png);}
ul.list-map li , ul li.list-phone {background-image: url(../images/icon/iconlist-phone.png);}

/*---------------------------------
	      breadcrumbs
-----------------------------------*/
.breadcrumbs {  }
.breadcrumbs i { font-style:normal; margin:0 3px;}
.breadcrumbs strong { font-weight:normal; color:#333;} 

/*---------------------------------
	      Article Set
-----------------------------------*/
.article-set .info { color:#666; margin-top:10px;}
.article-set .typo_text .title { font-size:16px; line-height:22px; margin-bottom:0px;}
.article-set .typo_text .info { color:#666;}
.article-set .typo_text .sub-title { color:#999;}
.article-set .more { margin-top:10px; text-align:right;}
.article-set .typo_text .more { text-align:left;}


/*-------------------------------------
                 Tabs
-------------------------------------*/
.tabs ul.tabnav { list-style:none; padding:0; margin:0 0 -1px 0; border-left: 1px solid #D4D4D4; position: relative; overflow:hidden;}
.tabs ul.tabnav li { float:left;}
.tabs ul.tabnav li a { background:url(../images/tab_bg.jpg) repeat-x top; border-bottom: 1px solid #D4D4D4; border-right:1px solid #D4D4D4;border-top: 1px solid #D4D4D4; color:#6A6A6A;display: block; font-size:13px; text-shadow: 1px 1px 1px #FFFFFF; line-height:18px; padding:8px 20px;text-decoration: none;}
.tabs ul.tabnav li a:hover {background:url(../images/tab_hover_bg.jpg) repeat-x top; color:#333;}
.tabs ul.tabnav li a.current {border-bottom-color:#FFFFFF; border-top:solid 1px #D05338; color:#333; font-weight:bold; background:#FFF;}
.tabs ul.tabnav li a.current:hover {background:#FFF; color:#333;}
.tabs .tab_box { border:1px solid #D4D4D4; height:auto; overflow:hidden; background-color:#FFFFFF; padding:15px;}

/*-------------------------------------
               accordion
-------------------------------------*/
.accordion { }
.accordion .accordion-tit {_height:100%; border-bottom:solid 1px #ECECEC;}
.accordion .accordion-tit a { background:url(../images/icon/acc-plus.gif) no-repeat 0 12px; display:block; line-height:18px; padding:15px 0 15px 30px; font-size:15px; font-weight:bold; color:#777; text-decoration:none;}
.accordion .accordion-tit.current { border-bottom:none;}
.accordion .accordion-tit.current a {background:url(../images/icon/acc-reduce.gif) no-repeat 0 12px;}
.accordion .accordion-pane { display:none; background:#fff; border-bottom:solid 1px #ECECEC; padding:0 0 15px 15px;}

/*-------------------------------------
              carousel
-------------------------------------*/
.carousel { position: relative;}
.carousel .item { float:left;}
.carousel .item blockquote { padding:5px 0 0 35px; margin-bottom:0; background-position:0 -10px; color:#666;}

/*-------------------------------------
              scrollable
-------------------------------------*/
.scrollable { position:relative; }
.scrollable .caroufredsel_wrapper { margin:0 auto !important;}
.scrollable ul { padding:0; margin:0 0 10px; list-style:none; height:172px; overflow:hidden;}
.scrollable ul li {	padding:0px; margin:5px 7px; display:block; float:left;}
.scrollable ul li img { display: block;}

/*-------------------------------------
              slideshow
-------------------------------------*/
.slideshow {position:relative;}
.slideshow .slide {position: relative; float:left;}	
.slideshow .slide img {width:100%; height:100%;}
.slideshow .info { background-color: rgba(0, 0, 0, 0.6); width:100%; position: absolute; bottom:0; padding:20px;}
.slideshow .info h4 {font-size:18px; margin-bottom:5px;}
.slideshow .info p {font-size:12px;}
.slideshow .info h4, .slideshow .info p {color:white;}
.slideshow a.prev, .slideshow a.next { top:50%; margin-top:-58px;}
.slideshow a.prev { left:0;}
.slideshow a.next { right:-1px;}
.slideshow .pagination { margin-top:15px;}

/*scroll prev next page*/
a.scroll_prev, a.scroll_next {width:32px; height:117px; display:block; position:absolute; top:50%; margin-top:-58px;}
a.scroll_prev {left:0; background:url(../images/prev_btn.png) no-repeat;}
a.scroll_prev:hover { background:url(../images/prev_btn_hover.png) no-repeat;}
a.scroll_next {right:0; background:url(../images/next_btn.png) no-repeat;}
a.scroll_next:hover { background:url(../images/next_btn_hover.png) no-repeat;}
a.scroll_prev span, a.scroll_next span {display: none;}

.prev_tit,.next_tit { display:block; width:20px; height:20px; position:absolute; top:-45px; right:0; background: url(../images/round_next_prev.png) no-repeat;}
.prev_tit span,.next_tit span { display:none;}
.prev_tit { right:25px; background-position:0 0;}
.next_tit { right:0; background-position:-20px 0;}

.scroll_page {text-align:center; margin-top:15px;}
.scroll_page a { background: url(../images/products_pagination.png) 0 0 no-repeat; width:11px; height:11px; margin:0 5px 0 0; display:inline-block;}
.scroll_page a.selected {background-position:-16px 0; cursor:default;}
.scroll_page a span {display: none;}




.scroll_page_num { position:absolute; bottom:10px; right:10px; }
.scroll_page_num a { background:#333; width:20px; height:20px; line-height:20px; text-align:center; margin:0 0 0 5px; display:inline-block; color:#fff;}
.scroll_page_num a:hover { text-decoration:none; color:#fff;}
.scroll_page_num a.selected { background:#f60; cursor:default;}
.scroll_page_num a span {display:block;}


/*-------------------------------------
              scrollTop css
-------------------------------------*/
.backToTop {display: none; width:35px;height:35px; background: url(../images/toptop.png) no-repeat; color: #fff; position: fixed; _position: absolute; right: 15px; bottom: 15px; _bottom: "auto"; cursor: pointer;}

/*-------------------------------------
              module
-------------------------------------*/
.module .mod-tit h3,.submenu h3,.page-name h2,.sf-menu a,.page-title h3,.gallery .g-tit,.article .article-tit h3{ font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;}
.module { margin-bottom:25px;}
.mod-tit:after,.mod-content:after {visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}
.mod-tit,.mod-content {*zoom:1;}

.module .mod-tit { padding:5px 0 10px;}
.module .mod-tit .mod-icon { display:block; float:left; margin-right:5px; width:24px; height:24px; background:no-repeat center center;}
.module .mod-tit h3 { display:block; float:left; line-height:24px; font-size:18px;}
.module .mod-tit .more { display:block; float:right; line-height:24px; font-size:12px; color:#666; text-decoration:none;}
.module .mod-tit .more:hover { color:#D05338; cursor:pointer;}

.mod-linetit .mod-tit { margin-bottom:15px;}
.mod-border .mod-tit { border-bottom:1px solid #ddd; margin-bottom:15px;}
.mod-border .mod-tit { padding:5px 15px; margin:0;}
.mod-padding .mod-inner { padding:20px 20px 15px;}

.module .sub-title { margin-bottom:20px; color:#999;}
.module .mod-line {border:1px solid #ddd; border-width:0 0 1px 0; height:1px; font-size:0; margin:25px 0 0; clear:both;}


/*module shade*/
.mod-linetit .mod-white .mod-tit {background:url(../images/heading_border.gif) repeat-x bottom;}
.mod-padding .mod-white { border:solid 1px #ddd; background:#FFF;}

.mod-shade { background:url(../images/shade_bg.png) repeat; padding:25px;}
/*.mod-shade .mod-tit { margin-bottom:10px;}*/
.mod-shade .mod-tit h3 { font-size:18px;}

/*module footer*/
.mod-footer { margin-bottom:0;}
.mod-footer .mod-tit h3 { color:#FFF; font-size:14px;}
.mod-footer .mod-content { color:#999;}
.mod-footer .mod-content a {color:#999; text-decoration:none;}
.mod-footer .mod-content a:hover { color:#D05338;}

.float-L { float:left; display:inline;}
.float-R { float:right; display:inline;}
.text-center { text-align:center; }

/*----------------------------------------------------------------------------------------------------------------------------------------------------
           Pages style
----------------------------------------------------------------------------------------------------------------------------------------------------*/
body { font:13px/1.8 "微软雅黑"; color:#000; background:#faf7f2 url(../images/bg.jpg) repeat-y top center; }
a { color:#222; text-decoration:none; }
a:hover { color:#b00702; text-decoration:none; }
.container { width:1000px; margin:0 auto; padding:0; position:relative; }
.full_container { width:100%; margin:0 auto; padding:0; position:relative; }


/**** 模块 ****/
.module .mod-tit { padding:0; margin-bottom:10px; /*margin-top:-10px; */position:relative; }
.module .mod-tit .mod-icon { width:52px; height:25px; }
.module .mod-tit h3 { font-size:14px; line-height:inherit; color:#000;}
.module .mod-tit h3 span { color:#59b530; margin:0 5px 0 0;}
.module .mod-tit .more { color:#d70000; }
.module .mod-tit .more-01 { position:absolute; top:10px; right:20px; display:block; width:39px; height:15px; background-image:url(../images/more_img.png);}
.module .mod-tit .more-01 span { display:none; }
.mod-dividing-line-01 { height:7px; overflow:hidden; margin-bottom:25px; background:url(../images/dividing-line-01.gif) repeat-x; }
.mod-dividing-line-02 { height:3px; overflow:hidden; margin-bottom:25px; background:url(../images/dividing-line-02.gif) no-repeat top center; }
.mod-dividing-line-03 { height:7px; overflow:hidden; margin-bottom:25px; background:url(../images/dividing-line-03.gif) repeat-x; }

.module-no-margin,
.module-no-margin .mod-content p,
.module-no-margin .mod-content ul,
.module-no-margin .mod-content ol, 
.module-no-margin .mod-content h1,
.module-no-margin .mod-content h2,
.module-no-margin .mod-content h3,
.module-no-margin .mod-content h4,
.module-no-margin .mod-content h5,
.module-no-margin .mod-content h6 {
	margin:0; 
} 

.module-default { margin:0; padding:0; }

.module-announcement { background:url(../images/announcement_bg.jpg) no-repeat; height:240px; padding:10px; }
.module-announcement .mod-tit { float:left; display:inline; margin:0 10px 0 0;}
.module-announcement .mod-content{ overflow:hidden; *zoom:1; }
.module-3col-hasBg { margin-bottom:25px; background:url(../images/module-3col-hasBg.jpg) no-repeat center bottom; min-height:275px; height:auto !important; height:275px; }
.module-tit-line .mod-tit { background:url(../images/module_link_bg.jpg) no-repeat bottom center; padding-bottom:8px; }
.module-link { position:relative; margin-bottom:10px; background:url(../images/module_link_bg.jpg) no-repeat bottom center; padding-bottom:8px;  }
.module-link .mod-tit { margin-bottom:0;}
.module-link .mod-content { position:absolute; top:5px; right:0; }
.module-index-apply { background:url(../images/module-index-apply-bg.jpg) no-repeat; height:213px; }
.module-index-apply .mod-content { padding:20px 20px 0 120px; }
.module-help-contact { background:url(../images/module-help-contact-bg.png) no-repeat; padding-left:115px;}
.module-insi-apply { background:url(../images/module-insi-apply-bg.jpg) no-repeat; height:214px; margin-bottom:15px; }
.module-insi-apply .mod-content { padding:20px 50px 0 30px; }
.module-sidebar-contact { margin-bottom:15px; background:url(../images/contact_logo.png) no-repeat 160px 30px; }
.module-sidebar-contact p { margin-bottom:5px; }



/**** 排 列表 ****/
.article-list-row { }
.article-list-row li { height:29px; line-height:29px; overflow:hidden; }
.article-list-row li span { color:#333; font-size:12px; margin-right:5px; }
.article-list-row li a { color:#222; background:url(../images/icon/ico_list_01.gif) no-repeat left center; padding-left:13px;  }
.article-list-row a:hover { color:#b00702;}
.article-list-row-hasLine li { background:url(../images/line_01.gif) no-repeat left bottom;}


/**** 画廊 列表 ****/
.mod_gallery_list { }
.mod_gallery_list ul { margin-left:-20px; font-size:0;}
.mod_gallery_list ul li { width:170px; margin:0 0 20px 20px; text-align:center; display:inline-block; vertical-align:top; *display:inline; *zoom:1; }
.mod_gallery_list ul li img { width:100%; }
.mod_gallery_list ul li h4 { font-size:12px; text-align:center; margin:5px 0; font-weight:normal; } 
.mod_gallery_list ul li h4 a { color:#5a5a5a; font-weight:normal;}
.mod_gallery_list ul li h4 a:hover { color:#f30; }
.mod_gallery_list ul li p { font-size:12px; text-align:center; color:#f30; font-weight:bold; }

.mod_gallery_list_2 ul li { width:361px; }
.mod_gallery_list_3 ul li { width:229px; }
.mod_gallery_list_4 ul li { width:170px; }

.mod_gallery_list_index_5 ul { margin-left:-8px !important; }
.mod_gallery_list_index_5 ul li { width:181px; margin:0 0 20px 15px; }
.products_list_4 ul { margin-left:-13px !important; }
.products_list_4 ul li { width:172px; margin:0 0 20px 13px; }

.pro_small_box { padding:10px; background:url(../images/pro_small_box.jpg) no-repeat;}
.pro_medium_box { padding:10px; background:url(../images/pro_medium_box.jpg) no-repeat;}
.pro_large_box { padding:10px; background:url(../images/pro_large_box.jpg) no-repeat;}
.pro_name_bg { height:24px; line-height:24px; overflow:hidden; background:url(../images/pro_name_bg.jpg) no-repeat top center;  }


/**** 文章 ****/
.article .article-list { border-bottom:1px solid #eee; margin:0 0 15px 0; padding:0 0 15px 0; }
.article-list .article-tit { margin-bottom:10px;}
.article-list .article-tit h3, .article-list .article-tit h3 a { color:#094; font-size:13px; }
.article-list .article-tit h3 a:hover { color:#666; }
.article-list .article-tit span.float-R { font-size:10px; color:#ccc; }
.article-list .article-summary { margin-bottom:10px; font-size:12px; border-left:1px solid #D9D9D9; padding:0 0 0 10px; }
.article-list-img .typo .typo_img { margin:0 10px 0 0; }
.article-list-img .typo .imgtoright { margin:0 0 0 10px; }
.article-list-img .article-summary { border:none; padding:0;  }

.article .article-detail .article-tit { text-align:center; margin-bottom:10px; }
.article .article-detail .article-tit h1 { font-size:20px; }
.article .article-detail .article-info { text-align:center; margin-bottom:10px; padding-bottom:10px; /*border-bottom:1px dashed #ccc;*/ background:url(../images/line_01.gif) no-repeat bottom center; }
.article .article-detail .article-info span { margin:0 10px; color:#666;}


/**** 分页 ****/
.pagination { text-align:center; }
.pagination span, .pagination a { padding:0 5px; }



/**** 链接模块 ****/
.mod-tit-link a { margin-left:10px; font-size:12px; }
.apply-link li { background:url(../images/line_01.gif) no-repeat left bottom; height:35px; line-height:35px; }
.apply-link li a { background:url(../images/icon/ico_app_link.png) no-repeat left center; padding-left:15px; font-size:12px;}
.friends-link a { margin-right:10px; white-space:nowrap;  }
.help-link { background:url(../images/help-link-bg.gif) repeat-x; height:30px; line-height:30px; overflow:hidden; text-align:center; }
.help-link a { margin:0 15px;}
.service-link { text-align:center;  }
.service-link a { background:url(../images/icon/ico_qq.gif) no-repeat left center; padding-left:25px; margin:0 5px; }





/* ==================== Top ==================== */
.Top { }
	
	
	
	
/* ==================== Header ==================== */
.Header { }

/**** logo ****/
.logo { float:left; display:inline; margin:40px 0 0; }
.logo a, .logo a img { display:block;}		
.top-widget-area { }

/**** nav_area ****/
.nav-area { height:33px; background:url(../images/nav_bg.jpg) repeat-x; position:relative; z-index:10000; }
.nav-area a, .nav_area a:hover { color:#fff; }

	.sf-menu ul { padding:0; width:150px; top:33px; }
	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top:33px; *top:33px; /* ie6,7 bug */}
	.sf-menu li.sfHover a { background:url(../images/nav_current.jpg) no-repeat;}
	.sf-menu li.sfHover ul li a{ background:none;}	
	
	.main-nav li { width:100px; text-align:center; margin-right:5px; }
	.main-nav a { display:block; height:33px; line-height:33px;}	
	.main-nav li a:hover, .main-nav li.current a { color:#fff; background:url(../images/nav_current.jpg) no-repeat;}
	.main-nav li ul { background:#920200; display:none; }
	.main-nav li ul li { text-align:left; width:100%; }
	.main-nav li ul li a { padding-left:15px;}
	.main-nav li ul li a:hover { background:#b00702;}


/* ==================== ContentArea ==================== */
.ContentArea { background:url(../images/main_bg.jpg) no-repeat top center; }
.ContentArea .container { background:url(../images/main_container_bg.jpg) no-repeat center bottom; padding-bottom:50px; }
.page-cont { padding:15px 10px 0; }



/**** banner ****/
.banner { position:relative;}
.banner .slideshow { height:260px; overflow:hidden; }
.banner .slide_img { display:block; width:100%; height:260px; }
.banner .scroll_page { position:absolute; bottom:20px; left:50%; margin-left:-50px; }
.banner .scroll_page a { width:12px; height:12px; background:#126d9b; border-radius:50%; }
.banner .scroll_page a.selected { background:#0bcd41; } 

/**** 视频 ****/
.vidoe_img { position:relative; margin-top:5px;}
.video_player { position:absolute; display:block; width:48px; height:48px; top:50%; left:50%; margin:-24px 0 0 -24px; background:url(../images/icon/ico_video_player.png) no-repeat; cursor:pointer;}

/**** 新闻 banner ****/
.news_banner .slideshow { height:209px; overflow:hidden;  }
.news_banner .info { left:0; *bottom:3px; padding:0; text-align:center; height:30px; line-height:30px; background:url(../images/news_banner_info.png) repeat-x;}
.news_banner .info p { padding:0 5px; line-height:30px;}
.news_banner .info p a { color:#fff; }
.news_banner a.scroll_prev, .news_banner a.scroll_next { width:35px; height:35px; margin-top:-17px; background:url(../images/news_banner_btn.png) no-repeat; }
.news_banner a.scroll_prev, .news_banner a.scroll_prev:hover { background:url(../images/news_banner_btn.png) no-repeat; background-position:0 0;}
.news_banner a.scroll_next, .news_banner a.scroll_next:hover { background:url(../images/news_banner_btn.png) no-repeat; background-position:-35px 0;}

/**** 义卖 banner ****/
.index_products_scrollable .scrollable { margin-left:15px; margin-top:5px; width:1002px; height:185px;}
.index_products_scrollable .scrollable ul{ height:185px !important;}
.index_products_scrollable a.scroll_prev, .index_products_scrollable a.scroll_next { width:6px; height:10px; margin-top:0; top:-35px;}
.index_products_scrollable a.scroll_prev, .index_products_scrollable a.scroll_prev:hover { background:url(../images/products_pag_btn.png) no-repeat;background-position:0 0; left:830px; }
.index_products_scrollable a.scroll_next, .index_products_scrollable a.scroll_next:hover { background:url(../images/products_pag_btn.png) no-repeat; background-position:0 -10px; right:80px; }
.index_products_scrollable .scroll_page { margin:0; position:absolute; top:-35px; right:90px; }

/**** 风采 banner ****/
.scroll_2row ul { }
.scroll_2row ul li { width:146px; margin:0 0 0 15px; }
.scroll_2row ul li.noMargin { margin:0;}
.scroll_2row ul li h4 { margin:5px 0; font-size:12px; font-weight:normal; text-align:center; }
.scroll_2row .scroll_page { margin-top:10px; }



/*Sidebar */
.Sidebar { position:relative; }
.sidebar-menu { width:223px; margin-bottom:15px; }
.sidebar-menu-tit { height:48px; line-height:48px; overflow:hidden; background:url(../images/sidebar-menu-bg.jpg) no-repeat top center; }
.sidebar-menu-tit h2 { text-align:center; font-size:16px; line-height:48px; color:#7a4725; }
.sidebar-menu-cont { padding:0 15px 45px; background:url(../images/sidebar-menu-bg.jpg) no-repeat bottom center; }
.sidebar-menu-cont li { background:url(../images/line_01.gif) no-repeat left bottom; height:32px; line-height:32px; padding-left:15px;}
.sidebar-menu-cont li a { background:url(../images/icon/ico_app_link.png) no-repeat left center; padding-left:20px; }
.sidebar-menu-cont li a:hover, .sidebar-menu-cont li.current a { color:#d1191a; text-decoration:none; }


/* Main */
.Main { }
.page-title { margin:0 0 15px 0; line-height:32px; background:url(../images/page-title-bg.png) repeat-x left bottom; padding-bottom:9px; }
.page-title h2 { float:left; padding-left:60px; font-size:16px; height:32px; line-height:40px; overflow:hidden; color:#333; background:url(../images/icon/ico_page_title.png) no-repeat left center; }
.breadcrumbs { float:right;}
.main-cont img { max-width:728px; }

.contact p { margin-bottom:5px; }
.contact_tel_400 { color:#D1191A; font-size:16px; font-weight:bold; margin-bottom:15px; }

.products_box:before, .products_box:after{content:"."; display:block; height:0; visibility:hidden;}
.products_box:after{clear:both;}
.products_box{*zoom:1; margin-bottom:20px;}
.products_img { float:left; margin-right:35px;}
.products_info { overflow:hidden; *zoom:1;}
.products_info p { margin-bottom:8px;}
.products_desc h3 { background:url(../images/line_01.gif) no-repeat bottom center; font-size:17px; line-height:32px; margin-bottom:10px; padding-left:10px; }

.apply_form {  }
.apply_form h2 { text-align:center; font-size:18px; margin-bottom:15px; }
.apply_form dl { margin-bottom:15px;}
.apply_form dt { float:left; display:inline; width:80px; margin-right:10px; text-align:right; }
.apply_text { border:none; border:1px solid #a9a9a9; border-bottom:none; width:450px; padding:3px 5px; background:url(../images/line_01.gif) no-repeat left bottom; }
textarea.apply_text { width:550px; }
.apply_btn { border:none; cursor:pointer; width:120px; height:28px; overflow:hidden; background-image:url(../images/apply_btn.jpg); background-repeat:no-repeat; }
.apply_btn_ok { background-position:0 0; }










/* ==================== Footer ==================== */
.Footer {  }



/* ==================== Bottom ==================== */
.Bottom { background:#f9f4ed url(../images/bottom_bg.jpg) repeat-x; font-size:12px; *zoom:1; color:#2e1c12; }
.Bottom .container { padding:15px 0;}
.Bottom a { color:#2e1c12; }
.Bottom a:hover { color:#b00702; text-decoration:none; }


/*===========================login================*/



#login {
  border-right: 1px solid #ddd;
  box-shadow: 1px 0 0 #fff;  
}


 #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff; 
}

#signup a {
  border-radius: 0 3px 3px 0;
}

#login-content {
  display: none;
  position: absolute;
  top: 35px;
  left: 0px;
  right: 0;
  z-index: 999;    
  background-image: linear-gradient(top, #FAF5F1, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
  background-color: #FAF5F1;
}
#regostry-content {
  width:500px;
  left: 0px;
  z-index: 999;    
  background-image: linear-gradient(top, #FAF5F1, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
  background-color: #FAF5F1;
}

#regostru-content input{
	width:160px;
}
li #login-content {
  right: 0;
  width: 250px;  
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

.inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

.login .actions {
  margin: 10px 0 0 0;
}
.remember_me{
	 padding:5px;
	 margin-right:10px;
	 float:right;
	 text-align:right;
}
.submit {    
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  margin-left:20px;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}
.registry {    
  background-color: #4C4C4C;
  background-image: linear-gradient(top, #4C4C4C, #4C4C4C);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: right;
  height: 30px;
  padding: 0;
  margin-right:20px;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}
#registry input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}
#login #submit:hover,
#login #submit:focus {    
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
} 

#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}
/*==================login end========================*/

.submit-button{
	float:right;
	margin-right:15px;
	width: 300px;
}

.panel-header {
    height:50px;
}
.panel-div {
	height:35px;
	width:150px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    padding: 0px 12px;
    font-size: 14px;
    color: #333333;
    background-color:#F5F5F5;
    padding-top: 16px;
}
.panel-div-left{
	border:0px;
	background-color:#fff;
    width: 96.5%;
    font-weight:bold;
    font-size:18px;
}
.panel-div-right{
	border:0px;
}
.jiazhang{
	display:none;
}
